{% extends "template.html" %}
{% block content %}
<div class="container pt-4">
    <div class="container-fluid">
        <div id="frame_container" class="row">
            <div class="col-12">
                <div hidden="true" id="counter"></div>
                <img id="img1" src="/static/images/live2.png"
                     class="img-thumbnail img-fluid mx-auto d-block" style="border: 4px solid rgb(17, 153, 142); /* Gray border */
                     border-radius: 4px;  /* Rounded border */
                     padding: 5px; /* Some padding */">
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-6 d-flex justify-content-end">
                <button id="start" onclick="start()" class="btn btn-outline-success"><i class="fa fa-video-camera"
                                                                                        aria-hidden="true"></i> Start
                </button>
            </div>
            <div class="col-6 d-flex justify-content-start">
                <button id="stop" onclick="stop()" class="btn btn-danger active"><i class="fa fa-stop"
                                                                                    aria-hidden="true"></i> Stop
                </button>
            </div>
        </div>
        <hr>
        <div class="row mb-5">
            <p class="d-flex mx-auto lead" style="color: #031b19;"><strong>please, stay safe and wear a mask ❤</strong>.</p>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}
{% block custom_js %}
<script>
    $(document).ready(function(){
        $('#data-review').attr('class', 'nav-item');
        $('#live').attr('class', 'nav-item active');
        document.querySelector("#counter").innerText = "2";
    })
    function stop(){
        $("#img1").attr("src", "/static/images/live2.png");
        $("#stop").attr("class","btn btn-danger active");
        $("#start").attr("class","btn btn-outline-success");
        document.querySelector("#counter").innerText = "2";
    }
    function start(){
        $("#img1").attr("src", "{{url_for('main.video_feed')}}");
        $("#start").attr("class","btn btn-success active");
        $("#stop").attr("class","btn btn-outline-danger");
        document.querySelector("#counter").innerText = "0";
    }
    var eventSource = new EventSource("/listen")
    var waitings = false;
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    eventSource.addEventListener("message", function(e) {
      console.log(e.data)
    }, false)

    eventSource.addEventListener("online", function(e) {
      // console.log(e.data.color)
      var checkStop = document.querySelector("#counter").innerText;
      console.log(checkStop);
      if (checkStop == "2")
      {
          data.counter = "0";
      }
      else{
        data = JSON.parse(e.data)
        document.querySelector("#counter").innerText = data.counter
        document.querySelector("body").style.backgroundColor= data.color
      }
      if (data.counter == "1"){
        toastr.warning('No Mask Detected !');
        // toastr.warning('asdasd <img src="https://image.flaticon.com/icons/svg/34/34579.svg" style="width:50px;">', 'Toast Image');
        // toastr.info('<img src="https://image.flaticon.com/icons/svg/34/34579.svg" style="width:150px;">', 'Toast Image')
      }
      else{
        // sleep(5000).then(() => { toastr.clear(); });
        console.log('pakai masker');
      }
    }, true)
</script>
<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "100",
        "hideDuration": "1000",
        "timeOut": "5000",
        "maxOpened": "1",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
{% endblock %}